<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> You can add a bill for everybody in this page</h1> <br>
    <form action="#" method="post">
      <label>Bill Title:</label><br><br>
      <input type="txt" name="billTitle" value="Electricity Bill"><br><br>
      <p> The system will divide the amount you input below by the number of people,
        and then send them a notification.</p>
      <label>Amount: </label><br><br>
      <input type='txt' name='amount' value=""><br><br>
      <input type='submit' value='submit'><br><br>

    </form>

  </body>
</html>
