<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> welcome back {{current_user}} </h1>
    <form action="#" method="post">
      <input type="submit" name="submit_button" value="1">
      <label>Click here to request a payment from everybody</label><br>

      <input type="submit" name="submit_button" value="2">
      <label>Click here to pay somebody</label><br>

      <input type="submit" name="submit_button" value="3">
      <label>Click here to see who owe/paid you money</label><br>

    </form>

  </body>
</html>
